<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497276504171-tasrk482gidfkf700mv8mbc50t4t48gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497276504171-tasrk482gidfkf700mv8mbc50t4t48gt</string>
	<key>API_KEY</key>
	<string>AIzaSyBObmRqNaeGO21-SGGTAWPQMCXTPPBzy4U</string>
	<key>GCM_SENDER_ID</key>
	<string>497276504171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aksa.Traviso</string>
	<key>PROJECT_ID</key>
	<string>traviso-80daa</string>
	<key>STORAGE_BUCKET</key>
	<string>traviso-80daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497276504171:ios:10c7fe8b2bf62f6a8bc92e</string>
</dict>
</plist>